.logo {
    margin-bottom: -5px !important;
}

.cartIcon {
    float: right;
    font-size: 1.2em !important;
    clear: both;
}

.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.content img {
    margin: auto;
}

.subtitleLabel {
    background: #333;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.subtitleLabel h1 {
    font-size: 22px;
    margin: 0;
}